/*reset start*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
em {
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-style: normal;
  font-weight: normal;
}

textarea {
  overflow: auto;
  resize: none;
}

a,
a:hover {
  text-decoration: none;
}
a {
  color: #fff;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  color: #333;
  outline: 0;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
}
select {
  outline: none;
}
.clearOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
header,
section,
footer {
  display: block;
}
/**content**/
html,
body {
  width: 100%;
  height: 100%;
  color: #171c2b;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

/* 修改垂直滚动条 */
::-webkit-scrollbar {
  width: 6px; /* 修改宽度 */
}

/* 修改滚动条轨道背景色 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* 修改滚动条滑块颜色 */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* 修改滚动条滑块悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.content-wrap {
  background-color: #000;
  .content-center {
    width: 1110px;
    margin: 0 auto;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  line-height: 78px;
  .logo {
    width: 156px;
  }
  .dispaly-wrapper {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  .title-wrap {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    .time {
      font-size: 32px;
      color: #ca2744;
      margin-left: 4px;
    }
  }
  .title-desc {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-top: 8px;
  }
  .section-game {
    height: 180px;
  }
  .secure-wrap {
    display: flex;
    align-items: center;
    margin-top: 13px;
    .secure {
      display: block;
      height: 26px;
      margin-right: 10px;
    }
  }
}

.game-wrap {
  .game-item {
    display: flex;
    align-items: center;
    height: 161px;
    color: #fff;
    border-bottom: 2px solid #87203a;
    &:last-child {
      border-bottom: none;
    }
    .game-left {
      width: 50%;
      height: 100%;
      text-align: center;
      background-color: #42001e;
      box-sizing: border-box;
      .game-img {
        width: 125px;
        height: 66px;
        margin-top: 22px;
      }
      .game-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        box-sizing: border-box;
        .game-score-desc {
          flex: 1;
          .star {
            img {
              width: 18px;
              height: 18px;
            }
          }
          .star-desc {
            font-size: 10px;
            color: #909090;
            .prefix {
              font-weight: 600;
            }
          }
        }
        .game-score {
          flex: 1;
          h2 {
            font-weight: 700;
            font-size: 30px;
          }
          .our-score {
            font-size: 10px;
            font-weight: 700;
            color: #909090;
          }
        }
      }
    }
    .game-right {
      width: 50%;
      height: 100%;
      text-align: center;
      background-color: #2e0014;
      .title {
        font-size: 14px;
        font-weight: 600;
        color: #ffce01;
        margin: 36px 0 6px 0;
      }
      .bonus-desc {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .btn-play {
        display: block;
        width: 135px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        margin: 30px auto 0 auto;
        border-radius: 5px;
        background-color: #34b059;
      }
    }
  }
}

.artice-wrap {
  padding: 32px;
  background-color: #fff;
  .artice-content {
    width: 800px;
    margin: 0 auto;
  }
  .artice-title {
    padding: 34px 0;
    color: #171c2b;
    font-size: 21px;
    .mark {
      text-decoration: underline;
    }
  }
  .artice-desc {
    width: 782px;
    font-size: 16px;
    color: #171c2b;
    line-height: 30px;
    &.artice-desc-sort {
      padding-top: 15px;
    }
    .strong {
      color: #171c2b;
      font-weight: 700;
    }
  }
}

.faq-wrap {
  padding: 100px 0;
  background-color: #f9f9f9;
  .faq-content {
    width: 1110px;
    margin: 0 auto;
    .faq-title {
      font-weight: 700;
    }
    .faq-item {
      width: 592px;
      padding: 20px 24px;
      background-color: #fff;
      box-sizing: border-box;
      .faq-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .faq-item-title-icon {
          width: 32px;
          height: 32px;
      }
    }
  }
}

.footer-wrap {
  padding: 64px 0;
  background-color: #171c2b;
  .footer-content {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    .footer-logo {
      height: 38px;
    }
    .footer-info {
      margin-left: 80px;
      color: #fff;
      .title {
        position: relative;
        font-size: 20px;
        padding-bottom: 20px;
        &::after {
          content: "";
          display: block;
          background-color: #848484;
          width: 30px;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .link {
        display: block;
        margin-top: 24px;
        font-size: 14px;
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
      .copyright {
        width: 830px;
        padding-top: 40px;
        font-size: 12px;
        color: #62666f;
      }
    }
  }
}
