.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 78px;
  line-height: 78px;
  background-color: #000;
}
.header-wrap .logo {
  width: 156px;
}
.header-wrap .dispaly-wrapper {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.header-wrap .dispaly-wrapper:hover .dispaly-wrapper-title {
  color: #34b059;
}
.header-wrap .dispaly-wrapper:hover .dispaly-wrapper-desc {
  display: block;
}
.header-wrap .dispaly-wrapper .dispaly-wrapper-title {
  cursor: pointer;
}
.header-wrap .dispaly-wrapper .dispaly-wrapper-desc {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 246px;
  height: 210px;
  padding: 10px;
  line-height: initial;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #62666f;
}
.privacy-wrap {
  width: 1110px;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  color: #2d2d2c;
}
.privacy-wrap .title {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #2d2d2c;
}
.privacy-wrap .privacy-item {
  margin-top: 28px;
  font-size: 16px;
  line-height: 28px;
}
.privacy-wrap .list {
  padding: 0 20px;
  box-sizing: border-box;
}
.privacy-wrap .list li {
  margin: 14px 0 0 0;
  list-style: disc;
}
.footer-wrap {
  padding: 64px 0;
  background-color: #171c2b;
}
.footer-wrap .footer-content {
  display: flex;
  width: 1110px;
  margin: 0 auto;
}
.footer-wrap .footer-content .footer-logo {
  height: 38px;
}
.footer-wrap .footer-content .footer-info {
  margin-left: 80px;
  color: #fff;
}
.footer-wrap .footer-content .footer-info .title {
  position: relative;
  font-size: 20px;
  padding-bottom: 20px;
}
.footer-wrap .footer-content .footer-info .title::after {
  content: "";
  display: block;
  background-color: #848484;
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-wrap .footer-content .footer-info .link {
  display: block;
  margin-top: 24px;
  font-size: 14px;
  color: #fff;
}
.footer-wrap .footer-content .footer-info .link:hover {
  text-decoration: underline;
}
.footer-wrap .footer-content .footer-info .copyright {
  width: 830px;
  padding-top: 40px;
  font-size: 12px;
  color: #62666f;
}
@media (max-width: 1200px) {
  .privacy-wrap {
    padding: 0 20px;
    width: auto;
  }
  .footer-wrap .footer-content {
    width: auto;
  }
  .footer-wrap .footer-content .footer-info .copyright {
    width: auto;
  }
}
@media (max-width: 768px) {
  .header-wrap {
    padding: 0 10px;
  }
  .dispaly-wrapper {
    display: none;
  }
  .footer-wrap .footer-content {
    flex-direction: column;
    padding: 0 20px;
  }
  .footer-wrap .footer-content .footer-logo {
    width: 200px;
    height: auto;
    margin: 0 0 20px -10px;
  }
  .footer-wrap .footer-content .footer-info {
    margin-left: 0px;
  }
}
